rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    // Magazine covers
    match /app-magazines/covers/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // Magazine PDFs
    match /app-magazines/pdfs/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // Reels thumbnails
    match /app-reels/thumbnails/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // Reels videos
    match /app-reels/videos/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
